.Cards {
  padding: 80px 80px 27px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  background: linear-gradient(207deg, #ec9229 0%, #d87400 100%);
  backdrop-filter: blur(22px);

  overflow: hidden;
}

.Cards .headline-1 {
  max-width: 1050px;
  z-index: 4;
}

.Cards .text {
  max-width: 459px;
  z-index: 4;
}

.cards__container {
  position: relative;
  z-index: 4;
}

.card-closed {
  position: absolute;
  top: 50%;
}

.Cards__fg {
  aspect-ratio: 1/1;

  position: absolute;
  z-index: 1;

  user-select: none;
  pointer-events: none;
}

.Cards__fg.Cards__fg--left {
  width: 110vw;
  max-width: 1350px;
  top: 0px;
  left: 0px;
  transform: translateX(-50%) translateY(5%);
}

.Cards__fg.Cards__fg--right {
  width: 100vw;
  max-width: 1250px;
  bottom: 0;
  right: 0;
  transform: translateX(60%) translateY(-20%) rotate(55deg);
}

@media (max-width: 768px) {
  .Cards {
    padding: 40px 16px 30px;
  }

  .Cards .headline-1,
  .Cards .text {
    max-width: none;
  }

  .Cards__fg.Cards__fg--left {
    transform: translateX(-50%) translateY(80%);
  }

  .Cards__fg.Cards__fg--right {
    width: 120vw;
    transform: translateX(55%) translateY(-90%) rotate(145deg);
  }

  .cards__container {
    transform: scale(0.75);
  }
}
