.Social {
  background: linear-gradient(34deg, #ff74f9 0%, #ff88fa 64.06%, #ffa6fb 100%);
  padding: 80px 0;
}

.Social .headline-1 {
  max-width: 995px;
  margin-bottom: 48px;
}

.Social .links {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2px;
}

.Social .links__item {
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(22px);
  padding: 50px 0px;
  display: grid;
  place-items: center;

  position: relative;
  overflow: hidden;
}

.Social .links__item > * {
  z-index: 2;
}

.Social .links__item:after {
  content: "";
  display: block;
  position: absolute;
  top: -200%;
  right: -25%;
  width: 150%;
  height: 500%;
  background: #5562ea;
  border-radius: 100%;
  opacity: 0;
  z-index: 1;
}

.Social .links__item:hover:after,
.Social .links__item:active:after {
  animation: ripple 0.3s ease-out forwards;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .Social .links {
    grid-template-columns: minmax(0, 1fr);
  }

  .Social .links__item {
    padding: 27px 0px 28px 0px;
  }
}
