.Third__slide:last-child {
  z-index: 4;
}

.Third__container {
  position: relative;
  margin-bottom: 5px;
  height: 100vh;
}

.Third__slide {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  border-radius: 32px;

  padding: 80px 0 80px;
}

.Third--first-cap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: black;
  z-index: 3;
}

.Third .slide__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
  z-index: 1;
}

.Third .slide__container {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
}

.Third .slide .headline-1 {
  width: 100%;
  max-width: 630px;
}

.Third__text-container {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.Third__text-container > .text {
  max-width: 290px;
}

@media (max-width: 1010px) {
  .Third .slide__container {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .Third__slide {
    padding: 40px 0 40px;
    border-radius: 16px;
  }

  .Third .slide__container {
    gap: 24px;
  }

  .Third__text-container {
    flex-wrap: wrap;
    gap: 10px;
  }

  .Third__text-container > .text {
    max-width: unset;
  }
}
