@font-face {
  font-family: "TomatoGrotesk";
  font-style: normal;
  font-weight: 900;
  src: local("TomatoGrotesk-Black"),
    url("assets/fonts/TomatoGrotesk-Black.otf") format("opentype");
}

@font-face {
  font-family: "SuisseIntl";
  font-style: normal;
  font-weight: 400;
  src: local("SuisseIntl-Regular"),
    url("assets/fonts/SuisseIntl-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SuisseIntl";
  font-style: normal;
  font-weight: 600;
  src: local("SuisseIntl-Medium"),
    url("assets/fonts/SuisseIntl-Medium.otf") format("opentype");
}

*,
*::after,
*::before {
  box-sizing: border-box;
  color: #fcfcfc;
}

body {
  background-color: #19191b;
}

#root {
  overflow: hidden;
}

#scroller {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.scrollbar-track {
  display: none !important;
}

.section {
  border-radius: 16px;
  position: relative;
  min-height: 100vh;
}

.section:not(:last-child) {
  margin-bottom: 5px;
}

.container {
  max-width: 1312px;
  width: 100%;
  margin: 0 auto;
  padding-left: 18px;
  padding-right: 16px;
}

.headline-1,
.headline-2 {
  font-family: TomatoGrotesk;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 900;
  line-height: 93%;
  letter-spacing: -2%;
}

.btn {
  font-family: SuisseIntl;
  font-weight: 600;
  font-size: 0.875rem;

  padding: 10px 0.875rem 7px;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;

  transition: all 0.3s ease;
}

.descriptor,
.text,
.clue {
  font-family: SuisseIntl;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: -2%;
}

.text {
  font-size: 1.4375rem;
}

.descriptor {
  font-size: 1.0625rem;
}

.descriptor {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .headline-1 {
    font-size: 7.5rem;
  }

  .headline-2 {
    font-size: 4.375rem;
  }

  .clue {
    font-size: 1.125rem;
  }

  .btn {
    font-size: 1rem;
  }

  .section {
    border-radius: 32px;
  }

  .descriptor {
    font-size: 1.4375rem;
  }
}
