.Second {
  background: linear-gradient(197deg, #8a8fff 0%, #7277f9 45.31%, #4a50dc 100%);
  backdrop-filter: blur(22px);

  padding: 40px 16px 345px;

  overflow: hidden;
}

.Second__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 10;
  position: relative;
}

.Second__fg {
  aspect-ratio: 1/1;

  position: absolute;
  z-index: 1;

  min-width: 500px;

  user-select: none;
  pointer-events: none;
}

.Second__fg--left {
  width: min(40vw, 550px);
  transform: rotate(16deg) translateX(-40%) translateY(45%);
  left: 0;
  bottom: 0;
}

.Second__fg--right {
  width: min(70vw, 950px);
  transform: rotate(161.326deg) translateX(-40%) translateY(-50%);
  right: 0;
  bottom: 0;
}

.Second .headline-1 > span {
  display: inline-block;
}

@media (min-width: 768px) {
  .Second {
    padding: clamp(80px, 10vw, 500px) 0 241px;
  }

  .Second__container {
    max-width: 1015px !important;
    padding-left: 80px;
  }

  .Second__container > .text {
    max-width: 430px;
    align-self: flex-end;
  }

  .Second__fg--left {
    width: min(50vw, 700px);
    transform: rotate(16deg) translateX(-35%) translateY(45%);
  }

  .Second__fg--right {
    width: min(60vw, 950px);
    transform: rotate(161.326deg) translateX(-40%) translateY(-40%);
  }
}

@media (min-width: 1922px) {
  .Second {
    padding: clamp(80px, 15vw, 500px) 0 241px;
  }
}
